{% extends 'base.html' %}

{% block title %}
Login - FastAPI Фронтенд
{% endblock %}

{% block content %}

<div class="modal">
    <form class="form">
  <span class="input-span">
    <label for="email" class="label">Email</label>
    <input type="email" name="email" id="email"
    /></span>
        <span class="input-span">
    <label for="password" class="label">Password</label>
    <input type="password" name="password" id="password"
    /></span>
        <span class="span"><a href="#">Forgot password?</a></span>
        <!--  <input class="submit" type="submit" value="Log in" />-->
        <button class="ui-btn"><span>Log in</span></button>
        <span class="span">Don't have an account? <a href="#">Sign up</a></span>
    </form>
</div>
{% endblock %}